@media screen and (max-width:1400px) {
    body {
        font-size: 14px;
    }

    .header_imgbox>img {
        width: 80%;
    }


}

@media screen and (max-width:1200px) {
    .footer_content {
        flex-wrap: wrap;
    }

    .footer_text,
    .footer_title {
        margin: 20px 0;
    }
}

@media screen and (max-width:992px) {
    body {
        font-size: 12px;
    }

    .header {
        background: linear-gradient(to bottom, var(--one-color) 25%, var(--one-color) 25%);
        z-index: -1;

    }

    .header_section {
        min-height: 100vh;
    }

    .header_imgbox>img {
        width: 100%;
    }

    .gogo_title_chine {
        width: 60%;
    }


}


@media screen and (max-width:768px) {
    .section {
        margin: 1em 0;
    }

    .about_titlebox {
        width: 100%;
    }

    .information_contianer {
        width: 100%;
    }

    .robot_btn {
        width: 20px;
        height: 20px;
    }

    .robot_body {
        font-size: 15px;
    }
}

@media screen and (max-width:576px) {
    body {
        font-size: 10px;
    }

    .header_imgbox {
        width: 60%;
        z-index: -1;
    }

    .about_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_box {
        flex-wrap: wrap;
    }

    .my_btn {
        margin: 0 10px;
    }

    .gogo_title_chine,
    .bus_container {
        width: 100%;
    }


    .information_content {
        order: 2;
    }

    .information_content2 {
        order: 1;
    }

    .robot_container {
        right: 10px;
        bottom: 80px;
        left: 10px;
    }
}